* {
	font-family: Arial, Verdana, sans-serif;
	color: black;
	text-align: center;
	}
body {
	background-image:url("background.png");
	background-attachment:fixed;
	width: 90%;
	margin: 0 auto;
	}
p {
	float:left;
	font-size: 50px;
	}
img {	
	padding-top:20px;
	width: 400px;
	}
.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;
	background-color: #efefef;
	}
.column3 {
	margin-right: 0%;
	}
#nav {
	margin: 1%;}
	li {
	display: inline;
	padding: 8px;
	}
#nav {
	background-color: #efefef;
	padding: 8px 0;
	}
#map {
	width: 406px;
	height: 400px;
	}
#panel{
	width: 404px;
	text-align:center;
	}
