body {
	color: black;
	background-image:url('background_.png');
	background-attachment: scroll;
	background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}

h1 {
	font-size: 30px;
	text-align: center;
	}

#myButton {
    background-color: black;
    color: white;
    font-size: 24px;
    border: none;
    padding: 20px; 
    float: right;
    margin-top: -280px;
    margin-right: 20px;
    border-radius:2px;
	}

#button_submit {
	    background-color: black;
	    color: white;
	    font-size: 15px;
	    border: none;
	    padding: 10px;
	    margin-top: 10px;
	    border-radius:2px;
	     }

#new_adventure {
	background-color: black;
	color: white;
	font-size: 15px;
	border: none;
	padding: 10px;
	margin-top: 10px;
	border-radius:2px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	     }

#input_location {
	margin-top:10px;
	height:20px;
	width:145px;
	border-radius:2px;
	font-size:20px;
	}

#center_button {
	width:100%;
	}

#default_div {
	margin-top:100px;
	width:100%;
	}

#default_message {
	text-align:center;
	font-size:40px;
	padding-left:15%;
	padding-right:15%;
	}

.description_div {
	float: left;
	width: 100%; 
	margin-left: 15px;
	font-size: 20px;
}

.description_div h1, h2, h3 {
	font-size: 50px;
}

#logo {	
	padding-top:30px;
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto
	}

#nav {	width:100%;
	text-align:center;
	font-size:30px;
	margin-bottom:40px;
	}

.navlist {
	display: inline;
	padding: 8px;
	padding: 8px;
	margin: 0 auto;
	}

#nav a	{
	color:white;
	text-decoration:none;
	padding-left:20px;
	padding-right:20px;
	font-size: 30px;
	}

a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}
a:hover {
	color: #c0c6d1;
}

#input_div {
	width:100%;
	height:100px;
	margin-bottom: 16px;
	font-size:20px;
	text-align:center;
	margin:0 auto;
	}

#button_submit {
	background-color: black;
	color: white;
	font-size: 15px;
	border: none;
	padding: 10px;
	margin-top: 10px; 
		}

#title_div {
	text-align: center; 
	width:100%;
	height:100px;
	margin:auto;
	display: block;
	text-align:center;
	font-size: 50px;
	}

#description {
	font-size:30px;
	text-align:left;
	padding-left:15%;
	padding-right:15%;
	}

 #map {	
 	width: 100%;
	height:500px;
	border-radius:8px;
  	}

  
#panel{
 	width: 100%;
  	}

#column1 {
	width: 29%;
	height:500px;
	background-color:#77afa4;
	float: left;
	margin:2.1%;
	display:inline-block;
	font-size:30px;
	border-radius:5px;
	}

#column2 {
	width: 29%;
	margin:2.1%;
	display:inline-block;
	}

#column3 {
	width: 29%;
	float: right;
	margin:2.1%;
	display:inline-block;
	}

@media screen and (max-width: 1000px) {
	#nav {font-size: 10px;}
	.column1 p {font-size: 10px;}
	#panel {width: 98%; height: 98%; font-size: 10px;}
	#map {width: 98%;}
	#logo {width: 80%; height: 80%;}
	#input_div {font-size: 10px;}
	#myButton {font-size: 10px; margin-top: -350px;}
	body {background-image: url('../background-mobile.png');}
	}

.warnbox-c1, .warnbox-c2, .warnbox-content {
	background-color:rgba(0,0,0,0) !important;
	}

.adp-placemark {
	background-color:#77afa4 !important;
	border:#77afa4 5px !important;
	border-radius:3px !important;
	}

.adp-step, .adp-substep {
	border:none !important;
	}

.adp { font-size:12px !important;

}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color:#c1eae2 !important;
	}

